/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/06/2018, 17:29:08
    Author     : julio
*/

#span{
 position:absolute;
 top:60%;
}
